@model HomePageViewModel

@{
    ViewBag.Title = "Home";
}
<style type="text/less">
    .div-margin {
        margin: 5% 0;
    }
</style>

<div class="div-margin">
    @*@Html.ActionLink("Create A New Restaurant", "Create")*@
    <a asp-action="Create">Create A New Restaurant</a>
</div>
<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Restaurant Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model.Restaurants)
            {
            <tr>
                @*<td>@Html.ActionLink("View Detail", nameof(HomeController.Detail), new { id = @restaurant.Id })</td>*@
                <td>
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@restaurant.Id">View Detail</a>
                    <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
                </td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </tbody>
</table>

@section footer{
    <h1>Words form Greeter service: @Model.CurrentMessage!</h1>
}